body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body * {
  box-sizing: border-box;
  font-size: 1.2rem;
  font-family: "Open Sans";
}

div:not(.target, .container, .cross) {
  width: 25vw;
  height: 25vw;
  border-radius: 10px;
  margin-right: 3vw;
  margin-bottom: 3vw;
  transition: all 500ms ease-in-out;
  display: flex;
}
div:not(.target, .container, .cross) .text-container, div:not(.target, .container, .cross) .text-box {
  opacity: 0;
  color: white;
  padding: 0 0.25em;
  border-radius: 5px;
  z-index: -100;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: none;
  max-width: 90%;
  max-height: 80%;
}
div:not(.target, .container, .cross) .text-box {
  background: rgba(0, 0, 0, 0.4);
  max-height: 48%;
  padding: 0;
  cursor: pointer;
  position: fixed;
  bottom: 5vh;
}
div:not(.target, .container, .cross) .text-box.copy {
  left: 5vw;
}
div:not(.target, .container, .cross) .text-box.palette {
  right: 5vw;
}
div:not(.target, .container, .cross).block-hover .text-container, div:not(.target, .container, .cross).block-hover .text-box {
  margin: auto;
  opacity: 1;
  z-index: 1;
  display: flex;
}
div:not(.target, .container, .cross).block-hover .text-container *, div:not(.target, .container, .cross).block-hover .text-box * {
  position: static;
}
div:not(.target, .container, .cross).block-hover.mob-click .text-container *, div:not(.target, .container, .cross).block-hover.mob-click .text-box * {
  position: fixed;
  font-size: 0.9em;
  padding: 1em;
  width: 25vw;
}
div.container {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2vw;
}
div.container > div {
  box-shadow: 1px 2px 1px #404040;
  margin-top: 1vh;
}
div.container h1 {
  width: 100%;
}
div.container .input {
  height: 30px;
  width: 70vw;
}
div.container .btn {
  height: 30px;
  min-width: 20vw;
  padding: 0 1vw;
  margin: 2vw 4vw;
}
div.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
  backdrop-filter: blur(5px);
}
div.modal .container {
  opacity: 1;
  animation: display_modal 200ms ease-in-out;
  width: 95vw;
  background-color: white;
  position: relative;
}
div.modal .container > div:last-child {
  margin-right: 0;
}
div.modal .container > div {
  margin-top: 2vh;
  margin-bottom: 2vh;
  animation: display_modal 200ms ease-in-out;
}
div.modal .cross {
  position: absolute;
  opacity: 0.4;
  top: 0;
  right: 2vw;
  font-size: 0.8em;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  cursor: pointer;
  padding: calc(clamp(1px, 2vw, 10px) / 10) clamp(1px, 2vw, 10px);
  padding-bottom: calc( clamp(1px, 2vw, 10px) / 3);
  border-radius: 5px;
  box-shadow: none;
}

@keyframes display_modal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (min-width: 768px) {
  div:not(.container, .target, .modal, .cross) {
    width: 15vw;
    height: 15vw;
  }
  div:not(.container, .target, .modal, .cross):is(.copy, .palette) {
    padding: 1em;
    position: static;
  }
  div:not(.container, .target, .modal, .cross).from-input {
    margin-top: 3vw;
  }
}

/*# sourceMappingURL=clr_styles.css.map */
