$nav-ht: 40px;
$fs-default: 1.2rem;
$fs-lg: $fs-default*1.3;
$line-ht:2;
$footer-ht:170px;

$clr-primary: purple;
$clr-bg: rgb(255,250,250);

$font-primary: 'Poppins';
$font-secondary: sans-serif;

$fade-in-durn: 300ms;