*{
	box-sizing:border-box;
	--fs-default:.95rem;
	--fs-sm-md:1.1rem;
	--fs-md:1.3rem;
	--fs-md-lg:1.5rem;
	--fs-lg:1.8rem;
}

body *{
	font-family:'Poppins', sans-serif;
	font-size:var(--fs-default);
	font-weight:bold;
	line-height:1.3;
}

a{
	text-decoration:none;
}

.jumbotron{
	background-color:black;
	color:white;
	padding:20px 10px;
	display:flex;
	flex-direction:column;
	justify-content:center;
	padding-bottom:5px;
}

.jumbotron a{
	color:white;
}

h1{
	font-size:var(--fs-lg);
}

@media screen and (max-width:768px){
	h1{
		font-size:var(--fs-md-lg);
	}
}

.row-content:not(.jumbotron *){
	padding:5vh 10px;
}

section .row-content{
	border-bottom:2px solid gray;
}

.sec-head{
	font-size:var(--fs-md);
	padding-bottom:10px;
}

.sec-body, .li-body *, .work-descr *{
	font-family:sans-serif;
	font-weight:normal;
}

.li-head{
	font-family:'Poppins';
	font-size:var(--fs-sm-md);
}

.icons.row{
	padding-bottom:8px;
	padding-top:10px;
}

.icons *{
	font-size:.75rem;
	display:flex;
	align-items:center;
	margin:2px;
}

.fa{
	color:white;
}

@media screen and (max-width:768px){
	ul>*{
		margin-left:20px;
	}
}

#education{
	font-size:var(--fs-default);
}

.bangla{
	font-weight:normal;
}

li{
	line-height:1.4;
	margin-bottom:4px;
}

.degree::before{
	content:"Degree:";
	font-family:'Poppins';
	font-weight:bold;
	display:inline-block;
}

.gpa::before{
	content:"GPA:";
	font-family:'Poppins';
	font-weight:bold;
	display:inline-block;
}

.graduation::before{
	font-weight:bold;
	font-family:'Poppins';
	content:"Year of Graduation:";
	display:inline-block;
}

#skills .lib-list{
	margin-bottom:0px;
}

#libs li{
	font-family:'Poppins';
	font-weight:bold;
}

#skills ul{
	list-style-type:none;
	padding-left:10px;
}
