.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 60px 0px;
  border-bottom: 1px ridge;
 }
 
.jumbotron{
	margin: 0px auto;
	padding: 70px 30px 80px 30px;
	background: linear-gradient(tomato, rgb(240,120,120));
	color: floralwhite;
	position:relative;
	display:flex;
	align-items:center;
	min-height:60vh;
}

.jumbotron.index{
	min-height:100vh;
}




.navbar-dark {
  background: linear-gradient(rgb(255,100,90), rgb(250,50,50));
}

body{
	background: linear-gradient(to right, rgb(250,180,180), rgb(250,240,240),rgb(250,180,180) );
}

nav{
	border-bottom:1px solid tomato;
	min-height:60px;
}

#svg{
	position:relative;
	margin:3vh 0;
	max-width:75vw;
}

#typing{
	color:white;
	font-family:'Poppins',sans-serif;
}

@keyframes renderText{
	to{
		stroke-dashoffset:0;
	}
}