:root{
	font-size:14px;
}

#game{
	display:flex;
	flex-wrap:wrap;
}

#game>*{
	border:2px solid black;
	background-color:#5F9EA0;
}

button:not(:last-child){
	padding: 7px;
	margin-right:10px;
}

.fs-6{
	font-size:.3rem;
}