:root{
	font-size:14px;
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

#game{
	display:flex;
	flex-wrap:wrap;
}

#game>*{
	border:2px solid black;
	background-color:#5F9EA0;
}

button:not(:last-child, .btn-success){
	padding: 7px;
	margin-right:10px;
}

.target{
	display:flex;
	align-items:center;
	justify-content:center;
	font-weight:bold;
}

.container:nth-child(even){
	opacity:0;
	transition: opacity 450ms ease-in;
}

#home{
	margin-top:2vh;
	height:96vh;
	display:flex;
	align-items:center;
	justify-content:center;
	transition: all 450ms ease-out;
}

#home h1{
	font-family:'Dancing Script', cursive;
	font-size:3rem;
}

.btn.btn-success{
	width:100%;
}

.btn-grp{
	display:flex;
	flex-direction:column;
	justify-content: center;
	margin-top:5vw;
}

.help-modal{
	height:100vh;
	position:fixed;
	top:0;
	left:0;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	background-color:rgba(0,0,0,.4);
	backdrop-filter:blur(50px);
}

.help-modal *{
	font-size:1rem;
	cursor:pointer;
}

.help-modal ul{
	display:flex;
	flex-direction:column;
	text-align:left;
}

.cross-btn{
	background:rgba(255,255,255,.3);
	width:100%;
	height:5vh;
	display:flex;
	align-items:center;
	justify-content:center;
}