html {
	font-size:22px;
}


div.content{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 98vh;
	border: 2px solid black;
	padding: 10px;
	font-family: sans-serif; 
	
}

header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}

h1 {
	font-size: 2.5rem;
}


.form{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items:center;
	gap: 1rem;
	padding:20px;
}

.form *{
	font-size: 1.5rem;
}

input {
	width: 84vw;
}

.output {
	margin-top: 10px;
	padding: 5px;
}

@media screen and (max-width: 600px){
	.form{
		display:flex;
		flex-direction:column;
		justify-content: space-between;
		gap: .3rem;
	}
}
