html {
	font-size:20px;
	font-color:#333;
}


div.content{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	min-height: 98vh;
	border: 2px solid black;
	padding: 10px;
	font-family: sans-serif; 
	
}

header {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	padding: 10px;
}


h1 {
	font-size: 2.5rem;
}

h2 {
	margin:0;
}


.form{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items:center;
	gap: 1rem;
	padding:5px 15px 5px 15px;
	margin-top: 30px;
	margin-bottom: 30px;
}

input {
	width: 60vw;
	font-size: 1.5rem;
	border: 2px solid #333;
	border-radius:999px;
	text-align: center;
}

button{
	font-size: 1.2rem;
	min-width:250px;
	border: 0px;
	border-radius:9999px;
	padding: 12px;
	font-weight: bold;
	background-color: #333;
	color: #fff;
}

.output {
	margin-top: 10px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	align-items:flex-start;
	justify-content:center;
}

.out-title {
	font-size: 2rem;
	margin-bottom: 10px;
}

.out-body{
	width:100%;
}

@media screen and (max-width: 900px){
	.form{
		display:flex;
		flex-direction:column;
		justify-content: space-between;
		gap: .3rem;
	}
	input{
		width: 98%;
	}
	button{
		width: 100%;
	}
}
