body{
	display: flex;
	flex-direction: column;
	padding: minmax(2vw, 40px);
	min-height: 98vh;
	border: 2px solid black;
	font-family: sans-serif; 
}

body *{
	font-size: 32px;
}

.form{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	gap: 1rem;
}

input {
	font-size: 2rem;
}
